@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center bg-light p-5 shadow rounded">
 
    <img src="~/Content/picture/images.jfif" alt="Profile Picture"
         class="rounded-circle shadow mb-4" style="width: 180px; height: 180px; object-fit: cover; border: 5px solid #fff;" />

    <h1 class="display-4 mt-3">Hi, I'm <b>Syeda Wareesha Ali</b></h1>
    <p class="lead text-muted">.NET Developer | Passionate about building scalable web apps</p>
    <hr class="my-4" />

    <p class="text-secondary">
        I specialize in <b>ASP.NET MVC, C#, and SQL Server</b>.<br />
        Welcome to my professional portfolio website!
    </p>

   
    <div class="mt-4">
        <a class="btn btn-primary btn-lg m-2 shadow-sm" href="/Home/Projects">
            <i class="fas fa-code"></i> View My Projects
        </a>
        <a class="btn btn-success btn-lg m-2 shadow-sm" href="/Home/About">
            <i class="fas fa-user"></i> More About Me
        </a>
        <a class="btn btn-outline-dark btn-lg m-2 shadow-sm" href="/Home/Contact">
            <i class="fas fa-envelope"></i> Contact Me
        </a>
    </div>
</div>